#main{
    float: right;
    width: 87%;
    height: -webkit-fill-available;
    background-color: #F3F3F4;
}
.bread-crumb{
    background-color: white;
    width: 100%;
    margin-left:1px;
    display: block;
    text-align: left;
}

.greeting-statement{
    float: right;
}
span{
    margin-right: 10px;
}
