.header-wrapper{
    overflow: hidden;
    border-bottom: 2px solid #c3c3c3;
    background-color: #F3F3F4;
}
.image-container{
    width:13%;
    float: left;
    background-color: #c3c3c3;

   
}
.company-logo{
    margin-top: 1%;
    float: inherit;
    width: 117px;
    height: 100px;
}
.header-content{
    width: 87%;
    float: right;
    text-align: left;
    margin-top: 78px;
    font-size: 16px;
}