.instruction-window{
    padding-top:10px;
    width:35%;
    margin-top: 10%;
    margin-left:32%;
    border: 2px solid black;
    text-align: left;
    overflow: hidden;
}
.headline{
    width: 80%;
    margin-left: 5%;
    display: block;
}
.button-container{
    float:right;
    padding-right: 10px;
    width:65%;
    margin-bottom: 10px;
}